.pl763847__p {
    margin: 5px 0;
    font-size: 14px;
    color: #4f4f4f;
    font-weight: 500
}

.pl763847__h1 {
    color: #000;
    font-size: 16px;
    margin: 0;
    font-weight: 500
}

.pl763847__btn {
    text-decoration: none
}

.pl763847__wrap {
    font-family: open sans;
    position: fixed;
    right: 0;
    left: 0;
    top: 2%;
    margin: auto;
    max-width: 440px;
    width: 97%;
    transition: all .5s;
    transition-delay: .5s;
    box-shadow: 0 0 4px 0 #b9b9b9;
    z-index: 9999999999999999;
    border-radius: 5px;
    display: none
}

.pl763847__btn {
    background: #067df3;
    color: #fff;
    padding: 8px 25px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    box-shadow: inset 6em 5em #248cf3
}

.pl763847__btn-block {
    margin-top: 7px
}

.pl763847__main-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    max-width: 527px;
    background: #fbfbfb;
    padding: 12px 15px 21px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box
}

.pl763847__icon {
    width: 40px;
    margin-right: 15px
}

.pl763847__text {
    height: 100%;
    color: #000;
    display: flex;
    flex-direction: column
}

.pl763847__closelink {
    position: absolute;
    right: 7px;
    top: 1px;
    z-index: 9999;
    cursor: pointer
}

.pl763847__close {
    width: 10px
}

@media(max-width:415px) {
    .pl763847__h1 {
        font-size: 15px
    }
    .pl763847__p {
        font-size: 13px;
        word-spacing: 0
    }
}

@media(max-width:375px) {}

@media(max-width:321px) {
    .pl763847__p {
        font-size: 12px;
        word-spacing: 0
    }
    .pl763847__btn {
        font-size: 11px
    }
}

@media(max-width:260px) {
    .pl763847__closelink {
        right: 2px
    }
    .pl763847__close {
        width: 12px
    }
}

.pl763847__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes pl763847__bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes pl763847__bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.pl763847__bounceInDown {
    -webkit-animation-name: pl763847__bounceInDown;
    animation-name: pl763847__bounceInDown
}